<div class="container bg-dark p-3 mt-2 ">
  <h3 class="text-light mt-2 text-center font-weight-bold">Orders</h3>
</div>

<div class="container mt-5 ">

  <table class="table m-5 table-striped " id="userTable">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">User Name</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
        <th scope="col">Cancellation</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr class="text-dark">
        <th class="text-dark" scope="row">{{inc @index}}</th>
        <th class="text-dark" scope="row">{{this.deliveryDetails.name}}</th>
        <td class="text-dark">{{this.deliveryDetails.date}}</td>
        <td class="text-dark">{{this.totalAmount}}</td>
        <td class="text-dark">{{this.status}}</td>
        <td>
          <button onclick="" class="btn btn-info">View Details</button>
        </td>
        <td>
          <button onclick="cancelOrder('{{this._id}}')" class="btn btn-danger">Cancel</button>
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
  });

  function cancelOrder(orderId) {
    console.log(orderId)
    $.ajax({
      url: '/admin/cancel-order',
      data: { orderId: orderId },
      method: 'post',
      success: (response) => {
        console.log(response);
        if (response.status) {
          location.reload()
        }
      }

    })
  }

</script>