<div class="container bg-dark p-3 mt-2 ">
  <h3 class="text-light mt-2 text-center font-weight-bold">Orders</h3>
</div>

<div class="container mt-5">
    {{#if statusChange}}
    <div class="container mt-5 ">
        <div class="alert alert-success" role="alert">
      {{statusChange}}
    </div>
    {{/if}}

  <table class="table m-5 table-striped " id="userTable">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">User Name</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Change Status</th>
        <th scope="col">Details</th>
        <th scope="col">Cancellation</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr class="text-dark">
        <th class="text-dark" scope="row">{{inc @index}}</th>
        <th class="text-dark" scope="row">{{this.deliveryDetails.name}}</th>
        <td class="text-dark">{{this.date}}</td>
        <td class="text-dark">{{this.totalAmount}}</td>
        <td class="text-dark">{{this.status}}</td>
        <td>
          {{#if this.cancelled}}
          <p class="text-danger">Order Cancelled</p>
          {{else}}
          {{#if this.delivered}}
          <p class="text-success">Item Delivered</p>
          {{else}}
          <form action="/admin/edit-order-status/{{this._id}}" method="post">
            <select name="deliveryStatus" id="deliveryStatus">
              <option value="{{this.status}}" selected hidden>{{this.status}}</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
            </select>
            <input type="submit" value="change">
          </form>
          {{/if}}
          {{/if}}
        </td>
        <td>
          <a class="btn btn-info" href="/admin/order-details/{{this._id}}">View Details</a>
        </td>
        <td>
          {{#if this.cancelled}}
          <p class="text-danger">Order Cancelled</p>
          {{else}}
          {{#if this.delivered}}
          <p class="text-success">Item Delivered</p>
          {{else}}
          <button onclick="cancelOrder('{{this._id}}')" class="btn btn-danger">Cancel</button>
          {{/if}}
          {{/if}}
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if (greaterThan page 1)}}
  <a href="/admin/all-orders?page={{dec page}}">Previous</a>
  {{/if}}
  Page {{page}} of {{numPages}}
  {{#if (lessThan page numPages)}}
  <a href="/admin/all-orders?page={{inc page}}">Next</a>
  {{/if}}

</div>


<script>
  //$(document).ready(function () {
  //  $('#userTable').DataTable();
  //});

  function cancelOrder(orderId) {
    console.log(orderId)
    $.ajax({
      url: '/admin/cancel-order',
      data: { orderId: orderId },
      method: 'post',
      success: (response) => {
        console.log(response);
        if (response.status) {
          swal("Cancelled!", "This order is cancelled").then(()=>{
            location.reload()
          })
        }
      }

    })
  }

</script>