<div class="container">
    <div class="container bg-dark p-3 mt-2">
        <h3 class="text-light text-center font-weight-bold">Category Management</h3>
    </div>
    {{#if categorySuccess}}
    <div class="mt-3">
        <div class="alert alert-success " role="alert">
            {{categorySuccess}}
        </div>
    </div>
    {{/if}}
    {{#if categoryErr}}
    <div class="mt-3">
        <div class="alert alert-danger" role="alert">
            {{categoryErr}}
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-md-8">
            <div class="container mt-5">

                <table class="table  table" id="userTable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Categories</th>
                            <th scope="col">Delete</th>
                            {{!-- <th scope="col">Edit</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                        <tr class="text-dark">
                            <td>{{inc @index}}</td>
                            <th class="text-dark" scope="row">{{this.category}}</th>
                            <td>
                                <a href="/admin/delete-category/{{this._id}}"
                                    onclick="return confirm('Are you sure to delete the category {{this.category}}?')"
                                    class="btn btn-dark">Delete</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <form action="/admin/categories" class="mt-5" id="categoryForm" method="post">
                <div>
                    <label class="font-weight-bold" for="category">Add category</label>
                    <input type="text" name="category" class="form-control" id="category" onclick="categoryCheck()" onchange="categoryCheck()" onkeyup="categoryCheck()">
                    <span class="text-danger" id="category-error"></span>
                </div>
                <button type="submit" class="btn btn-success mt-4 ">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    const category = document.getElementById('category');
    const categoryErr = document.getElementById('category-error');
    const form = document.getElementById('categoryForm');
    function categoryCheck(){
        if (category.value.trim().length > 4) {
            category.style.border = "1px solid green";
            categoryErr.innerHTML = ""
        return true;
        } else {
        category.style.border = "1px solid red";
        categoryErr.innerHTML = "Atleast 5 letters"
        return false;
        }
    }
    form.addEventListener('submit', (e)=>{
        e.preventDefault();
        categoryCheck();
        if(categoryCheck()){
            form.submit();
        }
    })
</script>

<style>
    input:focus, input.form-control:focus {
        outline:none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
  	    -webkit-appearance: none;
  	    margin: 0;
    }
</style>

<script>
    $(document).ready(function () { $('#userTable').DataTable(); });
</script>