<div style="height: auto;" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header">
                        <h4 class="card-title text-center text-dark font-weight-bold">All users</h4>
                        <p class="card-category text-center">
                            All users details and status
                        </p>
                        <p class="text-center">Total Users <span class="text-success" >{{userCount.totalUsers}}</span></p>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas3"></canvas>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header">
                        <h4 class="card-title text-center text-dark font-weight-bold">Order Status</h4>
                        <p class="card-category text-center">Details of orders and It's current status</p>
                        <p class="text-center">Total Orders <span class="text-success" >{{orderStatusCount.totalOrders}}</span></p>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas4"></canvas>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<script>

    const ctx3 = document.getElementById('canvas3').getContext('2d');
        const myChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ['Active users', 'Blocked users'],
                datasets: [{
                    label: 'All users',
                    data: [{{userCount.activeUsers}}, {{userCount.blockedUsers}}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                //y: {
                //    beginAtZero: false
                //}
            }
        }
    });
</script>

<script>
    const ctx = document.getElementById('canvas4').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {

            labels: ['Placed', 'Shipped', 'Delivered', 'Cancelled'],
            datasets: [{
                label: ['Orders'],
                data: [
                {{ orderStatusCount.totalPlacedOrders }},
                {{ orderStatusCount.totalShippedOrders }},
                {{ orderStatusCount.totalDeliveredOrders }},
                {{ orderStatusCount.totalCancelledOrders}}
            ],
    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    }
});
</script>