<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Edit Product</h2>

            <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">

                <label for="pro_title">Product Title</label>
                <input type="text" name="pro_title" class="form-control mb-4" value="{{product.pro_title}}" />

                <label for="pro_description">Description</label>
                <input type="text" name="pro_description" class="form-control mb-4" value="{{product.pro_description}}" />

                <label for="pro_price">Price</label>
                <input type="number" name="pro_price" class="form-control mb-4" value="{{product.pro_price}}" />
                <div class="mt-5">
                    <label for="pro_image">Image</label>
                    <br>
                    <img src="/product-images/{{product._id}}.jpg" alt="product image" style="width: 100px; height:auto; border-style: dotted; border-width: 1px;" />
                    <input type="file" name="pro_image" value="/product-images/{{product._id}}.jpg" class="form-control mb-4" />
                </div>

                <label for="pro_category">Categories</label>
                <select name="pro_category" id="pro_category" class="form-control mb-4">
                    <option value="none" selected disabled hidden>Select a Category</option>
                    <option value="Sun Glass">Sun Glass</option>
                    <option value="Computer Glass">Computer Glass</option>
                    <option value="Eye Lenses">Eye Lenses</option>
                </select>

                <label for="pro_gender">Gender</label>
                <select name="pro_gender" id="pro_gender" class="form-control mb-4">
                    <option value="none" selected disabled hidden>Select Gender</option>
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                    <option value="unisex">Unisex</option>
                </select>

                <label for="pro_stock">Stock count</label>
                <input type="number" name="pro_stock" class="form-control mb-4" value="{{product.pro_stock}}" />

                <button type="submit" class="btn btn-success mt-4">Submit</button>

            </form>
        </div>
    </div>
</div>