<div class="bg-dark p-3">
    <div class="text-center">
        {{#each categories}}
            <a href="/get-category-products/{{this.category}}" class="text-light ml-5">{{this.category}}</a>
        {{/each}}
    </div>  
</div>
<div style="height:100vh">
    <div class='container mt-5 '>
        <div class='row'>
            {{#each categoryProducts}}

            <div class='col-md-4 mb-5'>
                <div class='card' style='width: 18rem;'>
                    <img class='card-img-top' src='/images/product/{{this.image1}}' style='height:15rem'
                        alt='Card image cap' />
                    <div class='card-body'>
                        <h5 class='card-title font-weight-bold'>{{this.pro_title}}</h5>
                        <span>
                            <button type="button" class="btn btn-default wishlist" data-toggle="tooltip"
                                data-placement="right" title="add to wishlist">
                                <i class="fa fa-heart"
                                    style=" color: transparent; -webkit-text-stroke-width: 2px; outline:0; border:none; -webkit-text-stroke-color: red;"
                                    onclick="addToWishlist('{{this._id}}')">
                                </i>
                            </button>
                            <button type="button" class="btn btn-default wishlist" data-toggle="tooltip"
                                data-placement="right" title="remove from wishlist">
                                <i class="fa fa-heart" style=" color: red;" onclick="removeFromWishlist('{{this._id}}')">
                                </i>
                            </button>
                        </span>
                        <p class='card-text font-weight-bold m-0'>Price:
                            <span class="font-weight-normal text-muted"><s>₹{{this.pro_offerPrice}}</s></span> <span
                                class='text-success'>₹{{this.pro_price}}/-</span>
                        </p>
                        <p class='card-text text-muted'>{{this.pro_description}}</p>
                        <button class='btn btn-primary mr-4' onclick="addToCart('{{this._id}}')">Add to Cart</button>
                        <a href='/view-product/{{this._id}}' class='btn btn-warning'>View Item</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>