{{!-- <h1>Products</h1> --}}
<div class="container mt-5">
   <div class="row">

        {{#each products}}

        <div class="col-md-3 mb-2 ">
            <div class="card" style="width: 18rem">
                <img class="card-img-top " src="product-images/{{this._id}}.jpg" style="height:15rem" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title font-weight-bold">{{this.pro_title}}</h5>
                    <p class="card-text text-success font-weight-bold">{{this.pro_price}}/-</p>
                    <p class="card-text">{{this.pro_description}}</p>
                    <a href="#" class="btn btn-primary mr-4">Add to Cart</a>
                    <a href="/view-product/{{this._id}}" class="btn btn-warning">View Item</a>
                </div>
            </div>
        </div>

        {{/each}}
   
   </div>
</div>
