<div class='container mt-5 p-3 rounded cart' >
    <div class='row no-gutters'>
        <div class='col-md-8'>
            <h3>Ordered Items</h3>
            <table class='table mt-5'>
                <tbody>
                    {{#each orderDetails}}
                    <tr>
                        <td>
                            <img src="/images/product/{{this.product.image1}}" alt="" height="80">
                        </td>
                        <td>
                            <div>{{this.product.pro_title}}</div>
                            <small class="text-muted">{{this.product.pro_description}}</small>
                            <div class="text-success">₹{{this.product.pro_price}}</div>
                            <div>Quantity <span class="text-danger">{{this.quantity}}</span></div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <p class="m-5 text-success">{{order.couponStatus}}</p>

                    {{/each}}
                </tbody>
            </table>
            <div class="p-3">
                <p>Total Amount: <span class="text-danger">{{orderDetails.[0].totalAmount}}</span></p>
            </div>
        </div>
    </div>
</div>