<div class='container mt-5 p-3 rounded cart' style="min-height: 55vh;">
    <div class='row no-gutters'>
        <div class='col-md-8'>
            {{#if orders}}
            <table class='table mt-5'>
                <thead>
                    <tr>
                        <th scope='col'>Date</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Payment Method</th>
                        <th scope="col">Amount</th>
                        <th scope="col">view order</th>
                        <th scope="col">Cancel/Return</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{this.date}}</td>
                        <td id="status">{{this.status}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>
                            <a class="btn btn-info" href="/order-details/{{this._id}}">View Details</a>
                        </td>
                        <td>
                            {{#if this.cancelled}}
                            <p class="text-danger">Order Cancelled</p>
                            {{else}}
                            {{#if this.delivered}}
                            <a class="btn btn-warning" href="/return-order/{{this._id}}">Return</a>
                            {{else}}
                             {{#if this.returned}}
                            <p class="text-warning">Item returned</p>
                            {{else}}
                            <button class="btn btn-danger" onclick="cancelOrder('{{this._id}}')">Cancel</button>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div>
                <img src="/images/profile/10d453a085769f32ea4f5354b2cff4eb.jpg" alt="">
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    function cancelOrder(orderId) {
        console.log(orderId)
        $.ajax({
            url: '/cancel-order',
            data: { orderId: orderId },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    swal("Cancelled!", "Your order is cancelled").then(()=>{
                        location.reload()
                    })
                    
                }
            }
        })
    }
</script>