<script type="text/javascript">
    function validate() {
        let oldPw = document.getElementById('currentPassword');
        let newPw = document.getElementById('newPassword');
        let reNewPw = document.getElementById('renewPassword');

        if (oldPw.value.trim() == "") {
            //alert('blank')
            oldPw.style.border = "solid 2px red";
            document.getElementById("message1").innerHTML = "**Fill the password please!";
            return false;
        } else if (newPw.value.trim() == "") {
            newPw.style.border = "solid 2px red";
            document.getElementById("message2").innerHTML = "**Fill the New password please!";
            return false;
        } else if (reNewPw.value != newPw.value) {
            reNewPw.style.border = "solid 2px red";
            document.getElementById("message3").innerHTML = "**Passwords are not same.";
            return false;
        } else {
            return true;
        }
    }
</script>

<main id="main" class="main">

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="https://cdn4.vectorstock.com/i/1000x1000/06/18/male-avatar-profile-picture-vector-10210618.jpg"
                            alt="Profile" class="rounded-circle" width="250">
                        <h2> Hi <span class="text-primary">{{user.fname}}</span></h2>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card m-3">
                    <div class="card-body pt-3">
                        <div class="tab-content pt-2">

                            <div class="" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form method="post" action="/profile">

                                    <div class="row mb-3">
                                        <label for="fname" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fname" type="text" class="form-control" id="fname"
                                                value="{{userData.fname}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="lname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lname" type="text" class="form-control" id="company"
                                                value="{{userData.lname}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="number" class="col-md-4 col-lg-3 col-form-label">Mobile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="number" type="text" class="form-control" id="number"
                                                value="{{userData.number}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="email"
                                                value="{{userData.email}}">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>


                            <div class=" pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form method="post" action="/change-password" onsubmit="return validate()">

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="currentPassword" type="password" class="form-control"
                                                id="currentPassword">
                                            <span id="message1" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control"
                                                id="newPassword">
                                            <span id="message2" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="password" class="form-control" id="renewPassword">
                                            <span id="message3" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                        <br>
                                        <span id="message4" style="color:green">successful / failed message</span>
                                    </div>

                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->