</div>
<div class="row mb-4">
    <div class="col-3">
        <div class="form-outline">
            <input type="text" id="form9Example6" name="mobile" class="form-control input-custom" />
            <label class="form-label" for="form9Example6">Mobile</label>
        </div>
    </div>
</div>

<div class="float-end ">
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-rounded" style="background-color: #0062CC ;">Add New
        Address</button>
</div>

</form>
</div>
</div>
</div>
</div>



<div class="col">
    <h2>Your Addresses</h2>
</div>

<div class=" m-0 row ">


    {{#each addresscame}}
    <div class="col-md-4">
        <div class="form-check">

            <button class="btn btn-danger float-end" title="Delete Address" onclick=" Hello('{{this.id}}')"
                type="submit" style="font-size:x-small;"><i class="fa-solid fa-trash-can"></i></button>
        </div>
        <div class="card my-4 ml-2 shadow-3" style="border-radius:19px;">


            <div class="card-body  p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Delivery Info</h3>

                <p class="capitalize">{{this.firstname}} {{this.lastname}}</p>

                <p>{{this.city}}</p>
                <p>{{this.address}}</p>
                <p>{{this.zip}}</p>
                <p>{{this.mobile}}</p>



            </div>


        </div>
    </div>
    {{/each }}
</div>

<script>

    $("#addon").submit((e) => {
        e.preventDefault()
        console.log("ivide aayi")

        $.ajax({

            url: '/addnewaddress',
            method: 'post',
            data: $('#addon').serialize(),
            success: (response) => {

                location.reload()

            }
        })

    })